@import "../components/bootstrap/less/bootstrap.less";
@import "../components/bootstrap/less/responsive.less"; // Don't forget to comment lines 22 to remove the second import call to **mixin.less**
@import "../components/font-awesome/less/font-awesome.less";

.dblclick {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.relative {
    position: relative;
}
